# MacOS files
.DS_Store

# Docx files
*.docx

# Guidance on how we defined the scenarios
background/
manual/
*.tex
*.bib
.latexmkrc

# Legacy files
legacy/

/.quarto/
**/*.quarto_ipynb

# Reports
report/*
!report/.gitkeep

# Data
data/*
!data/.gitkeep